<div class="header-container">
  <div class="no-data">
    <img
      src="assets/img/gotainicial.png"
      width="280px;"
      height="450px;"
      class="image"
    />
    <div class="titulo">
      <span class="fw-bold h5">¡Bienvenido!</span>, {{ nombreUsuario }}
    </div>
    <div class="row">
      <div class="col-sm-1"><span class="fw-bold h7">PERFIL:</span></div>
      <div class="col-sm">{{ perfilUsuario }}</div>
    </div>
    <div class="row">
      <div class="col-sm-1"><span class="fw-bold h7">EQUIPO:</span></div>
      <div class="col-sm">{{ desArea }}</div>
    </div>
  </div>
</div>