<div class="suministro">
  <!--*ngIf="showSuministro"-->
  <div id="detalleSuministro">
    <div id="busqueda">
      <div>
        <table>
          <tbody>
            <tr>
              <td style="vertical-align: middle; width: 100px">
                <span></span>
              </td>
              <td style="width: 1000px"></td>
              <td style="width: 300px">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <!--<button type="button" class="btn btn-primary" (click)="buscarDataloggers()">
                    Buscar
                  </button>-->
                  <button type="button" class="btn btn-success" (click)="exportExcel()">
                    Exportar Excel
                  </button>
                  <button type="button" class="btn btn-danger" (click)="exportPDF()">
                    Exportar PDF
                  </button>
                  <button type="button" class="btn btn-secondary" (click)="verGrafico()">
                    Ver Gráfico
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br />
  </div>

  <div class="header-container">
    <div class="row" style="width: 100%;">
      <div class="col">
        <div class="table-responsive" id="htmlData">
          <table id="tabla-parametros" name="tabla-parametros" class="table table-hover issue-tracker"
            [style.width]="mobileQuery.matches ? '900px' : '100%'">
            <thead class="table-head">
              <tr>
                <th width="2%" style="border: none">NRO.</th>
                <th width="8%" style="border: none">DISTRITO</th>
                <th width="1%" style="border: none">CANTIDAD</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr *ngFor="let dato of itemsPagination; let i = index">
                <td width="2%">{{ dato.nro }}</td>
                <td width="8%">{{ dato.distritoBuscarResponse.vDesdistrito }}</td>
                <td width="1%">{{ dato.cantidad }}</td>
              </tr>
            </tbody>
          </table>
          <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="6"
            [page]="page" [perPage]="limit" [count]="total"></app-pagination>
        </div>
      </div>
      <!--Grafico-->
      <div class="col" style="width: 100%;">
        <canvas id="myChart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="barChartType">
        </canvas>
      </div>
      <!--Grafico-->
    </div>
  </div>
</div>


