<mat-tab-group animationDuration="0ms">
    <mat-tab label="DATALOGGER">        
        <app-datalogger-tab></app-datalogger-tab>
    </mat-tab>

    <mat-tab label="DATALOGGER POR DISTRITO" >        
      <app-datalogger-distrito-tab></app-datalogger-distrito-tab>
    </mat-tab>

    
    <mat-tab label="DATALOGGER POR EQUIPO" >      
      <app-datalogger-equipo-tab></app-datalogger-equipo-tab>
    </mat-tab>

    <mat-tab label="DATALOGGER POR GERENCIA" >        
      <app-datalogger-gerencia-tab></app-datalogger-gerencia-tab>
    </mat-tab>

    
  </mat-tab-group>
