<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->

        <form #login="ngForm" class="md-float-material form-material">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center">Recuperar Contraseña</h3>
                </div>
              </div>

              <form
                class="m-t"
                #reset="ngForm"
                role="form"
                (submit)="doReset(reset)"
                *ngIf="requested"
              >
                <div class="alert alert-danger" st *ngIf="error">
                  {{ error }}
                </div>
                <div class="alert alert-info" *ngIf="info">{{ info }}</div>
                <div class="form-group form-primary" style="margin-bottom: 0px">
                  <input
                    type="text"
                    name="username"
                    [(ngModel)]="username"
                    class="form-control"
                    autocomplete="off"
                    disabled
                    placeholder="Ingrese Usuario"
                  />
                  <span class="form-bar"></span>
                  <!-- <label class="float-label">Usuario</label> -->
                </div>
                <div class="form-group" style="margin-bottom: 0px">
                  <input
                    [(ngModel)]="oldPassword"
                    placeholder="Ingrese la contraseña actual"
                    type="password"
                    name="old_password"
                    class="form-control"
                    required
                    autocomplete="off"
                  />
                  <span class="form-bar"></span>
                  <label class="float-label">Contraseña actual</label>
                </div>

                <div class="form-group" style="margin-bottom: 0px">
                  <input
                    [(ngModel)]="newPassword"
                    placeholder="Ingrese Nueva Contraseña"
                    type="password"
                    name="new_password"
                    class="form-control"
                    required
                    autocomplete="off"
                  />
                  <span class="form-bar"></span>
                  <label class="float-label">Nueva Contraseña</label>
                </div>

                <div class="form-group" style="margin-bottom: 0px">
                  <input
                    [(ngModel)]="newPasswordCheck"
                    placeholder="Ingrese Nueva Contraseña"
                    type="password"
                    name="new_password_check"
                    class="form-control"
                    required
                    autocomplete="off"
                  />
                  <span class="form-bar"></span>
                  <label class="float-label">Repite la Nueva Contraseña</label>
                </div>

                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20"
                    >
                      GUARDAR
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>